<!DOCTYPE html>
<html>
<head>
  <title>All Available Flats</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <h1>All Available Flats</h1>

  <div class="flats-container">
    <% @flats.each do |flat| %>
      <div class="flat">
        <h2><%= flat.name %></h2>
        <p><i class="fas fa-map-marker-alt"></i> <%= flat.address %></p>
        <p class="description"><%= flat.description %></p>
        <p><i class="fas fa-dollar-sign"></i> Price per night: $<%= flat.price_per_night %></p>
        <p><i class="fas fa-users"></i> Number of guests: <%= flat.number_of_guests %></p>
      </div>
    <% end %>
  </div>
</body>
</html>
